<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
	  <% if @instructor.errors.any? %>
	    <div class="alert alert-danger">
	      <h2>Drats! </h2> <p><%= pluralize(@instructor.errors.count, "error") %> prevented this form from being saved:</p>
	      <ul>
		      <% @instructor.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
	      </ul>
	    </div>
	  <% end %>
		<div class="page-header">
			<h1>Editing <%= @instructor.teacher.first_name.capitalize%>'s Profile</h1>
		</div>
	</div>	
</div>

<%= render 'form' %>
