<% if @user.errors.any? %>
	<div class="alert alert-danger">
		<h2>Darn it! </h2> <p><%= pluralize(@user.errors.count, "error") %> prevented this form from being saved:</p>
		<ul>
			<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="col-sm-9 col-sm-offset-2">
	<div class="page-header">
		<h1>Edit info</h1>
	</div>
</div>


<%= render 'form' %>
