
	<div class="col-sm-6 col-sm-offset-3">
		<div class="text-center page-header">
			<h1>Contact Us</h1>
		</div>
		<div class="row"><br></div>
		<div class="row">
			<address class="text-center">
			  <strong>Teachme, Inc.</strong><br>
			  220 King Street West, Suite 300<br>
			  Toronto, ON<br>
			  <abbr title="Phone">P:</abbr> (647) 704-8267
			</address>

			<address class="text-center">
			  <strong>Chris Tyler</strong><br>
			  <a href="mailto:#">cdtded1212@gmail.com</a>
			</address>

			<address class="text-center">
			  <strong>Mike Zhang</strong><br>
			  <a href="mailto:#">michaelzhang2@msn.com</a>
			</address>
		</div>
		
	</div>

