

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed hr,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover,
.fc-today-button {
  border-color: black;
}

.fc-toolbar {
	// border: 1px solid black;
}

.teacher_calendar .fc .fc-ltr .ui-widget {
	border: 1px solid black;
}

.teacher_calendar {
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

.fc-time-grid-event .fc-bg {
 opacity: 0 !important;
}